
ion-icon {
  fill: white;
  width: 32px;
}
    
#userImage {
  border-radius: 50%;
  height: 2.6em;
}

#fake-image {
  height: 2.5em;
  width: 2.5em;
  background: grey;
  border-radius: 50%;
}

.page-logo {
  width: 3.5em;
  padding-right: 1em;
}

